*{
    margin: 0;
    padding: 0;
 }
 /* Стилізуйте відео: 100% ширини та висоти,
 щоб охопити все вікно */
 #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
 }
 
 /* Додайте трохи вмісту внизу відео/сторінки */
 .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
 }
 
 h1{
    margin: 20px 0;
 }
 
 p{